# /etc/systemd/system/imageproxy.service
# run systemctl enable imageproxy.service to run on boot

[Unit]
Description=Image proxy server
After=network.target

[Service]
User=www-data

# To not require systemd-resolved.service to be up to look up "localhost" use 127.0.0.1
# https://systemd.io/NETWORK_ONLINE/
ExecStart=/usr/bin/imageproxy -addr 127.0.0.1:8080 -whitelist image.tmdb.org -signatureKey "YOUR_KEY"

[Install]
WantedBy=multi-user.target
