# /etc/systemd/system/imageproxy.service
# run systemctl enable imageproxy.service to run on boot

[Unit]
Description=Image proxy server
After=network.target

[Service]
User=www-data
ExecStart=/usr/bin/imageproxy -addr localhost:8080 -whitelist artworks.thetvdb.com,www.thetvdb.com,*.thetvdb.com -signatureKey "YOUR_KEY"

[Install]
WantedBy=multi-user.target
